*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  width: calc(100% -40px);
  margin: auto;
}

.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}
